*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.nc-large-font{
    font-size: 5rem;
}

.nc-tiny-underline{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 7rem;
    height: 2px;
    background-color: #007bff;
    transform: translateX(-50%);
}

.nc-light-bg{
    background-color: rgba(222,226,230,.5);
}

.nc-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nc-tick{
    height: 1.5rem;
    stroke: #007bff;
}

.nc-send-button{
    width: fit-content;
}

.home-height{
    height: 80vh;
}

#header__logo--sasu{
    color: #6c757d;
}

@media (max-width: 768px) {
    .home-height{
        height: 55vh;
    }
}
/* =====  Header  ======================================================================================================================================================*/
header{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#header__hamburgerMenu--container{
    gap: .3rem;
    width: fit-content;
    transition-duration: .5s;
}

.header__hamburgerMenu--bar{
    height: 2px;
    width: 1.3rem;
    background-color: #6c757d;
    transition-duration: .5s;
}

.headerSvg{
    fill: white;
    color: white;
    height: 60px;
    width: 60px;
}

.headerSvgScrolled{
    fill: rgba(0, 0, 0, 0.9) !important;
}

.navContainerScrolled{
    color: rgba(0,0,0,.5) !important;
}

@media (max-width: 828px) {
    #header__logo{
        margin-left: auto;
        margin-right: 2rem;
    }
}